.contact-btn {
    width: 155px;
    height: 37px;
    background: $btn-color;
    color: #fff;
    border-radius: 10px;
    display: block;
    text-align: center;
    line-height: 37px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}