.header {
    position:fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 94px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

    }
}